pkgbase = clvk-git
	pkgdesc = Experimental implementation of OpenCL 3.0 on Vulkan
	pkgver = r817.f07937a
	pkgrel = 1
	url = https://github.com/kpet/clvk
	install = clvk-git.install
	arch = aarch64
	license = Apache-2.0
	makedepends = gcc
	makedepends = git
	makedepends = cmake
	makedepends = python
	makedepends = opencl-headers
	makedepends = spirv-headers
	makedepends = spirv-tools
	makedepends = spirv-llvm-translator
	makedepends = vulkan-headers
	makedepends = ninja
	depends = vulkan-icd-loader
	depends = zlib
	depends = zstd
	depends = spirv-tools
	depends = libstdc++
	depends = glibc
	depends = libgcc
	provides = clvk
	provides = opencl-driver
	conflicts = clvk
	options = !lto
	options = !debug
	source = git+https://github.com/kpet/clvk.git
	source = git+https://github.com/google/clspv.git
	source = opencl-headers::git+https://github.com/KhronosGroup/OpenCL-Headers.git
	source = spirv-headers::git+https://github.com/KhronosGroup/SPIRV-Headers.git
	source = spirv-llvm-translator::git+https://github.com/KhronosGroup/SPIRV-LLVM-Translator.git
	source = spirv-tools::git+https://github.com/KhronosGroup/SPIRV-Tools.git
	source = clspv.patch::https://github.com/google/clspv/commit/7e2a07a8c337fd7beb3b53873094bdaceb928b1d.diff
	source = clvk-install-paths.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 7c7bc20f52abdb144fcbaa52d2791f2137f42f053e292c362cea2c3c4bd3e2db
	sha256sums = 34ae444868e7d1c0c7941c73d37f15c01058269c30a8296b056d391e7f8168f2

pkgname = clvk-git
